<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{pkg.name}} Demo</title>
    <link rel="stylesheet" href="./demo.css"/>
    <link rel="icon" href="https://raw.githubusercontent.com/fur-repo/fur-examples/master/example/15-apeman-react-contrib/favicon.png"/>
    <script src="./demo.js"></script>
    <style>{{{read highlightStyle}}}</style>
</head>
<body>
<div id="demo-style"></div>
<header>
    <div class="container">
        <h1>
            <a href="{{{pkg.homepage}}}">{{pkg.name}}</a>
        </h1>
    </div>
</header>
<main>
<div>
    <div class="playground">
        <div class="container">
            <div id="demo"></div>
        </div>
    </div>
</div>
    <div class="container">
    <div>
<pre class="demo-src">
{{{src}}}
</pre>
    </div>
    </div>

</main>
<footer>
    <div class="container">
        <ul>
            {{#each links}}
                <li>
                    <a href="{{this}}">{{@key}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</footer>
</body>
</html>